.back{
    box-sizing: border-box;
    transform: rotateY(-180deg);
    backface-visibility: hidden;
    
    padding: 30px;
    padding-top: 30px;
    color: #1A7BB0;
    background-color: #010717;
    border-radius: 15px;
}
.front{
    box-sizing: border-box;
    z-index: 1;
    color: #1A7BB0;
    background-color: #010717;
    border-radius: 15px;
    padding: 30px;
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.466) ;
}
.aside{
    perspective: 700px;
}   

.front,  .back{
    position: absolute;
    margin: 10% 5%;
    height: 90%;
    width: 90%;
    transition: 0.7s;
    box-shadow: 5px 3px 15px rgba(0, 0, 0, 0.308);

}
@keyframes sombraLuz {
    0%{box-shadow: 1px 1px 2px wheat;}
    100%{box-shadow: -1px -1px -2px white;}
    
}
.aside:hover .front{
    transform: rotateY(180deg);
    z-index: 0;
    animation: sombraLuz 1s;
}
.aside:hover .back{
    transform: rotateY(0);
    z-index: 1;
}

.animCont{
    display: flex;
    justify-content: space-evenly;
    height: 15%;
    
}
.fa-brands, .fa-solid{
    border: solid 1px #1A7BB0;
    border-radius: 5px;
    display: flex;
    text-align: center;
    padding-top: 7%;
    font-size: 25px;
    width: 18%;
    margin: 1%;
    box-shadow: 0px 0px 4px #8ebdd6 ;
}
.bar{
    width: 100%;
}
.barra{
    height: 2px;
    width: 100%;
    background-color: #1A7BB0;
    margin-top: 10px;
    margin-left: 0;
    transform: rotate3D(1 , -1 , 1 , 30deg);

}
.bar1{
    width: 80%;
    opacity: .1;
}
.bar2{
    width: 70%;
    opacity: .1;   
}
.bar3{
    width: 60%;
    opacity: .1;
}
.bar4{
    width: 50%;
    opacity: .1;
}
.bar5{
    width: 40%;
    opacity: .1;
}
.bar6{
    width: 30%;
    opacity: .1;
}
.bar7{
    width: 20%;
    opacity: .1;
}
.bar8{
    width: 10%;
    opacity: .1;
}
a{
    text-decoration: none;
    color: #1A7BB0;
}



