body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    ;
}

.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 60px 90vh 10vh;
    grid-template-areas: "h h" "m a" "f f";
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #010717;
    grid-area: h;
}

@keyframes mover_logo {
    0% {
        height: 120vh;
        border-radius: 20px;
        box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.384);
    }

    100% {
        height: 100%;
    }
}

.imagem_logo {
    margin-left: 20px;
    margin-bottom: 15px;
    height: 100%;
    animation: mover_logo 2s;
    transition: 5s;
}

@keyframes nome_anda {
    0% {
        width: 25%;
        text-shadow: -25px 2px 20px #fff;
        opacity: 0;
    }

    50% {
        width: 100%;
        text-shadow: 25px 1px 20px #fff;
        opacity: 0;
    }

    75% {
        width: 15%;
        text-shadow: -25px 2px 50px #010717;
    }

    90% {
        text-shadow: 0px 0px 10px #fff;
    }

    100% {
        text-shadow: 1px 2px 200px #fff;
    }

}

.nome_logo {
    display: flex;
    justify-content: center;
    color: #1A7BB0;
    margin-right: 50px;
    animation: nome_anda 5s;
}

.main {

    background-image: url(midias/Sem\ título.png);
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: m;
    color: black;
    padding: 30px;
}
#cum{
    color: #010717;
}

.texto {
    width: 40%;

}

.main p {
    text-indent: 25px;
    font-size: larger;
}

.aside {
    grid-area: a;
    background-image: url(midias/Sem\ título.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.resp{
    display: none;
}

li {
    list-style: none;
    font-size: 18px;
    cursor: pointer;
}

li:hover , a:hover {
    color: #64b7e4;
    text-shadow: 1px 1px 7px #85bedd9f;
}

.front {
    font-size: 30px;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.473);


}

.footer {
    background-color: chartreuse;
    grid-area: f;
}

/* Responsividade */

@media only screen and (max-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10vh 70vh 10vh;
        grid-template-areas: "h h" "m m" "a a" "f f";
    }

    .header {
        grid-area: h;
    }

    .nome_logo {
        font-size: 10px;
    }

    .main {
        grid-area: m;
        display: flex;
        justify-content: center;
        padding: 0;
    }
    .main .texto{
        font-size: 15px;
        
    }
    .texto{
        width: 90%;
    }

    .aside {
        padding-top: 100px;
        grid-area: a;
        height: 650px;
    }
    .resp{
        display: block;
        font-size: 15px;
    }
    .front{
        margin: auto;
    }
    .aside li{
        margin-top: 20px;
    }

    .footer {

    grid-area: f;
    display: none;
    }
}
